<div class="jumbotron">
  <h1>Video Uploader</h1>
  <p>
    Upload Your video on YouTube and share it with the world!
  </p>
  <p>
    <%= link_to 'Upload Video Now', new_video_path, class: "btn btn-primary btn-lg" %>
  </p>
</div>
